@page
@model LataPrzestepneWstrzykiwanie.Pages.HistoryModel
@{
	ViewData["Title"] = "Historia wyszukiwań";
}


<h2>Historia wyszukiwań</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Data utworzenia
            </th>
            <th>
                ID użytkownika
            </th>
            <th>
                Login użytkownika
            </th>
            <th>
                Rok
            </th>
            <th>
                Przestępność
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Records.Records)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLeap)
                </td>
                <td>
                    @if(Model.currentUser != null){
                        @if(Model.currentUser == item.UserId){
                            <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
                            //<button class="btn btn-primary" id="delButton" onclick=@Model.OnPostAsync(item.Id)>Usuń</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


